 
     <div class= "homeNavigation">
    <ul class= "homeLinks">
        <li class= "homeAccess"><a href="/">Home</a></li>
        <li class= "homeAccess"><a href="/profiles">Profiles</a></li>
        <li class= "homeAccess"><a href="/addProfile">Add a profile</a></li>
    </ul>
</div>
  

<!------ Include the above in your HEAD tag ---------->



<div class="bk">

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="https://ucarecdn.com/95124c46-8ebf-4b58-8b68-e31135d2174b/-/preview/172x172/-/format/webp/" alt="" class="img-rounded img-responsive" />
                    </div>


                    <div class="col-sm-6 col-md-8">
                        <h2>{{name}}</h2>

                        <h3>
                        <small><cite title="Auclland, New Zealand">Enspiral Dev Academy <i class="glyphicon glyphicon-map-marker">
                        </i></cite></small>
                          <p>
                         <i class="glyphicon glyphicon-option-vertical"></i>User {{id}}
                         </p>
                            <p>
                            <i class="glyphicon glyphicon-envelope"></i>  {{email}}
                            </p>
                            <p>
                            <i class="glyphicon glyphicon-earphone"></i>  {{phone}}
                            </p>
                            <p>
                              <i></i>
                            <i class="fab fa-facebook"></i>  {{facebook}}
                            </p>
                            <p>
                            <i class="fab fa-playstation"></i>  {{ps4_user}}
                            </p>
                            <p>
                            <i class="fab fa-steam"></i></i>  {{steam_user}}
                            </p>
                            <p>
                            <i class="fab fa-xbox"></i> {{xbox_user}}
                            </p>
                            <p>
                            <i class="fab fa-linkedin"></i>  {{linkedin}}
                            </p>
                            <p>
                             
                             <i class="fab fa-instagram"></i>  {{instagram}}
                            <br/>
                            </p>
                            <p>
                            <i class="glyphicon glyphicon-globe"></i><a href="https://devacademy.co.nz/ "> https://devacademy.co.nz/</a>
                            </p>
                            </h3>
                        <!-- Split button -->
                        <div class="btn-group">
                             <button type="button" class="btn btn-primary">
                                Social</button> 
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span><span class="sr-only">Socials</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Twitter</a></li>
                                <li><a href="https://plus.google.com/+Jquery2dotnet/posts">Google +</a></li>
                                <li><a href="https://www.facebook.com/jquery2dotnet">Facebook</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Github</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>