<h1>{{name}}s Profile</h1>

<ul>
  <li>User Id: {{id}}</li>
  <li>Short Bio: {{github }}</li>
  <li>My email is: {{phone}}</li>
  <li>My email is: {{email}}</li>
  <li>My email is: {{facebook}}</li>
  <li>My email is: {{ps4_xbox}}</li>
  <li>My email is: {{linkedin}}</li>
  
</ul>
 