<h1>{{name}}'s Profile</h1>

<ul>
  <li>User Id: {{id}}</li>
  <li>Short Bio: {{bio }}</li>
  <li>My Phone is: {{phone}}</li>
  <li>My Email is: {{email}}</li>
  <li>My Facebook is: {{facebook}}</li>
  <li>My PS4 gamertag is: {{ps4_user}}</li>
  <li>My Xbox gamertag is: {{xbox_user}}</li>
  <li>My Steam gamertag is: {{steam_user}}</li>
  <li>My Linkedin is: {{linkedin}}</li>
  <li>My Twitter is: {{twitter}}</li>
  <li>My Instagram is: {{instagram}}</li>
  <li>My Github is: {{github}}</li>

  
  
</ul>
 