<h1>{{name}}'s Profile</h1>

<ul>
  <li>User Id: {{id}}</li>
  <li>Short Bio: {{github }}</li>
  <li>My phone is: {{phone}}</li>
  <li>My email is: {{email}}</li>
  <li>My facebook is: {{facebook}}</li>
  <li>My gamertag is: {{ps4_xbox}}</li>
  <li>My linkedin is: {{linkedin}}</li>
  
</ul>
 